<section id="contact" class="w-full min-h-screen bg-blue-900 flex flex-col items-center justify-center px-4 py-10">

  <h2 class="text-4xl md:text-5xl font-bold text-yellow-500 mb-10 text-center">
    Contactez-Nous
  </h2>

  <div class="w-full max-w-7xl flex flex-col lg:flex-row gap-8 lg:px-8">
    <div class="flex-1 h-[400px] lg:h-[550px] lg:pr-4">
  <iframe
    class="w-full h-full rounded-2xl shadow-lg"
    style="border: 0"
    loading="lazy"
    allowfullscreen
    src="https://www.openstreetmap.org/export/embed.html?bbox=8.6700,33.3520,8.6830,33.3570&layer=mapnik&marker=33.3545,8.6766"
  ></iframe>

  <br />
  <small>
    <a
      href="https://www.openstreetmap.org/?mlat=33.3545&mlon=8.6766#map=17/33.3545/8.6766"
      target="_blank"
      class="text-yellow-400 underline"
    >
      Voir sur OpenStreetMap
    </a>
  </small>
</div>


    <div class="flex-1 bg-blue-900 p-0 lg:pl-4">
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col gap-4"
      >
        <div class="flex flex-col md:flex-row gap-4">
          <div class="w-full">
            <label class="text-white font-semibold"
              >Prénom <span class="text-red-500">*</span></label
            >
            <input
              type="text"
              placeholder="Votre prénom"
              formControlName="firstName"
              class="w-full px-4 py-3 border border-white text-white bg-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
            />
            <div
              *ngIf="f['firstName'].touched && f['firstName'].invalid"
              class="text-red-400 text-sm mt-1"
            >
              Votre prénom est obligatoire.
            </div>
          </div>

          <div class="w-full">
            <label class="text-white font-semibold"
              >Nom <span class="text-red-500">*</span></label
            >
            <input
              type="text"
              placeholder="Votre nom"
              formControlName="lastName"
              class="w-full px-4 py-3 border border-white text-white bg-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
            />
            <div
              *ngIf="f['lastName'].touched && f['lastName'].invalid"
              class="text-red-400 text-sm mt-1"
            >
            Votre nom est obligatoire.
          </div>
          </div>
        </div>

        <div>
          <label class="text-white font-semibold"
            >Suject <span class="text-red-500">*</span></label
          >
          <input
            type="text"
            placeholder="Suject"
            formControlName="subject"
            class="w-full px-4 py-3 border border-white text-white bg-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
          />
          <div
            *ngIf="f['subject'].touched && f['subject'].invalid"
            class="text-red-400 text-sm mt-1"
          >
          Suject est obligatoire.
          </div>
        </div>

        <div>
          <label class="text-white font-semibold"
            >Email <span class="text-red-500">*</span></label
          >
          <input
            type="email"
            placeholder="example@email.com"
            formControlName="email"
            class="w-full px-4 py-3 border border-white text-white bg-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
          />
          <div
            *ngIf="f['email'].touched && f['email'].errors?.['required']"
            class="text-red-400 text-sm mt-1"
          >
          Votre email est obligatoire.
          </div>
          <div
            *ngIf="f['email'].touched && f['email'].errors?.['email']"
            class="text-red-400 text-sm mt-1"
          >
            Format d'email est invalide.
          </div>
        </div>

        <div>
          <label class="text-white font-semibold"
            >Message <span class="text-red-500">*</span></label
          >
          <textarea
            rows="5"
            placeholder="Ecrivez votre message ici..."
            formControlName="message"
            class="w-full px-4 py-3 border border-white text-white bg-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500"
          ></textarea>
          <div
            *ngIf="f['message'].touched && f['message'].invalid"
            class="text-red-400 text-sm mt-1"
          >
          Votre message est obligatoire.
          </div>
        </div>

        <button
          type="submit"
          class="mt-4 bg-yellow-500 text-blue-900 font-bold px-6 py-3 rounded-lg hover:bg-yellow-400 shadow-md transition duration-300"
        >
          Envoyez
        </button>
      </form>
    </div>
  </div>

  <div
    class="w-full max-w-5xl mt-12 flex flex-col md:flex-row items-center justify-center md:justify-between gap-8 text-white">

    <div class="flex items-center gap-4">
      <span class="material-icons text-yellow-400 text-3xl md:text-4xl">location_on</span>
      <p class="text-xl md:text-2xl font-medium">El Faouar 4264</p>
    </div>

    <div class="flex items-center gap-4">
      <span class="material-icons text-yellow-400 text-3xl md:text-4xl">phone</span>
      <p class="text-xl md:text-2xl font-medium">+216 75 000 000</p>
    </div>

    <div class="flex items-center gap-4">
      <span class="material-icons text-yellow-400 text-3xl md:text-4xl">email</span>
      <p class="text-xl md:text-2xl font-medium">contact&#64;sohaba.work.gd</p>
    </div>
  </div>
</section>
