<div class="flex flex-col justify-center items-center h-screen bg-beige/50 backdrop-blur-sm text-center px-4 text-gray-700 animate-fade-in">
    <div class="text-8xl mb-4">🚧</div>
    <h1 class="text-6xl font-extrabold text-red-500">503</h1>
    <h2 class="text-3xl font-bold mt-4">Service Unavailable</h2>
    <p class="mt-4 text-lg font-medium text-gray-600 max-w-xl">
      This section is currently under development. We're working hard to make it available soon. Stay tuned!
    </p>
    <button
      class="mt-8 px-8 py-4 bg-blue-500 text-white text-lg font-semibold rounded-md shadow-md hover:bg-blue-600 transition-all duration-200"
      routerLink="/">
      Go Back to Home Page
    </button>
  </div>
  