@media (max-width: 1023px) {
  .carousel-container {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .carousel-card {
    scroll-snap-align: center;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
