@media (max-width: 1023px) {
  .scroll-snap-align-center {
    scroll-snap-align: center;
  }

  .carousel-container {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
